<div class="list-group list-style" *ngIf="users.length;else showEmptyMessage">
  <span class="list-group-item list-group-item-action active">
    User List
  </span>
  <a href="javascript:void(0)"
     class="list-group-item list-group-item-action"
     *ngFor="let user of users"
     (click)="selectUser(user)">
    <img [src]="user.userInfo.avatar_url" class="img-rounded" height="50" width="50" /> {{user.userInfo.name}}
  </a>
</div>

<ng-template #showEmptyMessage>
  Do not have history.
</ng-template>